.tabela {
  width: 100%;
  border-collapse: collapse;
}

.tabela th,
.tabela td {
  padding: 8px;
  border: 1px solid #ccc;
}

.wrapper {
  display: grid;
}

.editar-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.remover-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
