/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* formulario */
form {
  color: #161515;
  width: 100%;
  height: 100%;
  margin: 30px auto;
  padding: 30px;
  background: #dad7d7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

}
/* label */
label {
  font-size: 18px;
  margin: 5px 5px;
}
/* input */
input  {
  width: 80%;
  height: 22px;
  margin-bottom: 8px;
  border: 1px solid #161515;
  border-radius: 8px;
  padding: 0 24px;
  font-size: 16px;
}
/* button */
button {
  background-color: #4c5df1;
  width: auto;
  height: auto;
  margin: 30px auto;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
