.formulario {
  display: flex;
  margin-top: 0px;
  margin-left: 150px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
  border-radius: 20px;
  background: var(--color-white, #fafafa);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.gridContainer > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  background: var(--color-white, #fafafa);
  margin-left: 0%;
}

label {
  color: var(--color-black, #53575d);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

select {
  color: #53575d;
  font-family: Poppins;
  font-size: 24px;
  width: 290.575px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Black-0, #53575d);
  background: var(--White--1, #fbfcff);
}

input {
  color: #53575d;
  font-family: Poppins;
  font-size: 24px;
  width: 206px;
  height: 50.874px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Black-0, #53575d);
  background: var(--White--1, #fbfcff);
}

.botao button {
  display: flex;
  justify-content: center;
  width: 252px;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  padding: 16px 24px;
  align-items: center;
  gap: 24px;
  border-radius: 20px;
  background: #4c5df1;
  box-shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.1);
}

.unidade {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.unidade label {
  margin-bottom: 10px;
  text-align: left;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total input {
  width: 290.575px;
  height: 59px;
}