@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.box-area {
    width: 1920px;
    height: 715px;
    top: -513px;
    left: -414px;
    background: #FAFAFA;
}

.img-fluid {
    width: 1135.89px;
    height: 680px;
    left: -157px;
}

#logo {
    width: 309px;
    height: 309px;
    top: 132px;
    right: 287px;
}

p {
    height: 48.75px;
    font-family: Roboto Slab;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #000000;
    margin-top: 20px;
}

.input-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-icon {
    width: 30.47px;
    height: 27.21px;
    top: 562.78px;
    left: 1232.36px;
}

.input-field {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
}