@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

p {
    color: #374557;
    font-weight: 100;
    font-size: 1.2rem;
}

.box-area {
    width: 950px;
}

.left-box img {
    position: relative;
    height: 90vh;
    width: 500px;

}

.right-box {
    padding: 40px 60px 40px 70px;
}


#input::placeholder {
    font-size: 0.9rem;
    color: #A098AE;
    border: none;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: none;
}

.input-icon {
    position: absolute;
    left: 30px;
    top: 12px;
    color: #A098AE;
    border: none;
}

.btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: #0bd196;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
}

.btn:hover {
    background-color: #04976b;
}


@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}