.box {
  height: 1080px;
  position: relative;
  width: 345px;
}

.box .side-menu {
  background-color: #ffffff;
  height: 1080px;
  left: 0;
  position: fixed;
  top: 0;
  width: 345px;
}

.box .logo {
  height: 159px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 159px;
}

.box .list {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 46px;
  position: absolute;
  top: 178px;
}

.box .menu-item {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 16px 24px;
  position: relative;
  width: 252px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.box .menu-item:hover {
  background-color: #f0f0f0;
}

.box .menu-item.active {
  background-color: #4cbc9a;
}

.box .icone {
  height: 32px;
  position: relative;
  width: 32px;
}

.box .text,
.box .text-wrapper {
  color: #a098ae;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.box .text.active {
  color: #ffffff; /* Cor do texto quando o botão estiver ativo */
}

.box .text-wrapper {
  color: #ffffff;
  margin-right: -4px;
}

.box .div {
  color: #a098ae;
  margin-right: -4px;
  margin-top: -1px;
}

