.box {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.box .sideMenu {
  background-color: #ffffff;
  height: 1080px;
  left: 0;
  position: fixed;
  top: 0;
  width: 345px;
}
.icon {
  height: 32px;
  position: relative;
  width: 32px;
}

.box .logo {
  height: 159px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 159px;
}

.box .list {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 46px;
  position: absolute;
  top: 178px;
}

.box .menuItem {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 16px 16px;
  position: relative;
  width: 252px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.box .menuItem:hover {
  background-color: #f0f0f0;
}

.box .menuItem.active {
  background-color: #4cbc9a;
}

.box .icone {
  height: 32px;
  position: relative;
  width: 32px;
}

.box .text,
.box .textWrapper {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.box .text.active {
  color: #ffffff; /* Cor do texto quando o botão estiver ativo */
}

.box .textWrapper {
  color: #ffffff;
  margin-right: -4px;
}

.box .div {
  color: #a098ae;
  margin-right: -4px;
  margin-top: -1px;
}

.btn {
  display: flex;
  justify-content: start;
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}
