.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  background-color: #ffffff;
  padding: 10px;
  height: 108px;
  display: flex;
  align-items: center;
}
.topBar h1 {
  font-size: 36px;
  color: #374557;
  margin-left: 350px;
}

.content {
  display: flex;
  height: 100%;
  padding-top: 2rem;
  flex-grow: 1;
}
.containerLogo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-top: -100px; */
}
.logoMenu {
  display: block;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.active .btn p {
  color: #ffffff;
  font-size: 18px;
}

.leftMenu {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.leftMenu a {
  text-decoration: none;
  color: #353434a8;
}

.btn {
  display: flex;
  justify-content: start;
  font-size: 18px;
  align-items: center;
  padding: 10px;
  width: 252px;
  height: 64px;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: 0.5s;
  color: #a098ae;
}
.btn:hover {
  background-color: #fafafa;
  border-radius: 20px;
  width: 252px;
  height: 64px;
  border-radius: 10px;
  color: #a098ae;
  cursor: pointer;
}

.iconMenu {
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.active {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  width: 252px;
  height: 64px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  background-color: #4cbc9a;
  color: #ffffff;
}

.mainContent {
  flex-grow: 1;
  height: 100%;
  padding: 69px 62px;
  background-color: #fafafa;
}

.contentBody {
  width: 100%;
}
